### XGBoost Classifier

Libraries

In [34]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import RocCurveDisplay, accuracy_score, classification_report

Importing DataFrames

In [35]:
train_df_encoded = pd.read_pickle('train_df_encoded.pkl')
X_test = pd.read_pickle('test_df_encoded.pkl')

In [36]:
train_df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0 to 8692
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        8693 non-null   int64
 1   Transported                8693 non-null   int64
 2   HomePlanet_Europa          8693 non-null   int64
 3   HomePlanet_Mars            8693 non-null   int64
 4   Destination_PSO J318.5-22  8693 non-null   int64
 5   Destination_TRAPPIST-1e    8693 non-null   int64
 6   Deck_B                     8693 non-null   int64
 7   Deck_C                     8693 non-null   int64
 8   Deck_D                     8693 non-null   int64
 9   Deck_E                     8693 non-null   int64
 10  Deck_F                     8693 non-null   int64
 11  Deck_G                     8693 non-null   int64
 12  Deck_T                     8693 non-null   int64
 13  Side_S                     8693 non-null   int64
 14  CryoSleep_True             8693 non-null   int64
 15  total_expendure            8693 non-null   float64
 16  had_expenditure            8693 non-null   int64
dtypes: float64(1), int64(16)
memory usage: 1.2 MB

In [37]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4277 entries, 8693 to 12969
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        4277 non-null   int64
 1   HomePlanet_Europa          4277 non-null   int64
 2   HomePlanet_Mars            4277 non-null   int64
 3   Destination_PSO J318.5-22  4277 non-null   int64
 4   Destination_TRAPPIST-1e    4277 non-null   int64
 5   Deck_B                     4277 non-null   int64
 6   Deck_C                     4277 non-null   int64
 7   Deck_D                     4277 non-null   int64
 8   Deck_E                     4277 non-null   int64
 9   Deck_F                     4277 non-null   int64
 10  Deck_G                     4277 non-null   int64
 11  Deck_T                     4277 non-null   int64
 12  Side_S                     4277 non-null   int64
 13  CryoSleep_True             4277 non-null   int64
 14  total_expendure            4277 non-null   float64
 15  had_expenditure            4277 non-null   int64
dtypes: float64(1), int64(15)
memory usage: 568.0 KB

In [38]:
# splitting X and y for train
X_train = train_df_encoded.drop('Transported', axis = 1)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        8693 non-null   int64
 1   HomePlanet_Europa          8693 non-null   int64
 2   HomePlanet_Mars            8693 non-null   int64
 3   Destination_PSO J318.5-22  8693 non-null   int64
 4   Destination_TRAPPIST-1e    8693 non-null   int64
 5   Deck_B                     8693 non-null   int64
 6   Deck_C                     8693 non-null   int64
 7   Deck_D                     8693 non-null   int64
 8   Deck_E                     8693 non-null   int64
 9   Deck_F                     8693 non-null   int64
 10  Deck_G                     8693 non-null   int64
 11  Deck_T                     8693 non-null   int64
 12  Side_S                     8693 non-null   int64
 13  CryoSleep_True             8693 non-null   int64
 14  total_expendure            8693 non-null   float64
 15  had_expenditure            8693 non-null   int64
dtypes: float64(1), int64(15)
memory usage: 1.1 MB

In [39]:
y_train = train_df_encoded['Transported']
y_train.info()

<class 'pandas.core.series.Series'>
Index: 8693 entries, 0 to 8692
Series name: Transported
Non-Null Count  Dtype
--------------  -----
8693 non-null   int64
dtypes: int64(1)
memory usage: 135.8 KB

In [40]:
y_train.head()

0    0
1    1
2    0
3    0
4    1
Name: Transported, dtype: int64

In [41]:
X_train.head()

,Age,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G,Deck_T,Side_S,CryoSleep_True,total_expendure,had_expenditure
0,39,1,0,0,1,1,0,0,0,0,0,0,0,0,0.0,0
1,24,0,0,0,1,0,0,0,0,1,0,0,1,0,736.0,1
2,58,1,0,0,1,0,0,0,0,0,0,0,1,0,10383.0,1
3,33,1,0,0,1,0,0,0,0,0,0,0,1,0,5176.0,1
4,16,0,0,0,1,0,0,0,0,1,0,0,1,0,1091.0,1

In [42]:
# calling xgb
xgb = xgb.XGBClassifier()

I will directly search for the best hyperparameters

In [46]:
# test hyperparameters
from sklearn.model_selection import GridSearchCV
params = {
    'learning_rate': [0.01, 0.05, 0.1, 0.3],
    'max_depth': [3, 4, 5, 6],
    'colsample_bytree': [0.8, 0.9, 1],
    'n_estimators': [50, 100, 2000]
}

# grid searching
grid_search = GridSearchCV(
    estimator = xgb,
    param_grid = params,
    cv = 4,
    scoring = 'accuracy',
    verbose = 1,
)

grid_search.fit(X_train, y_train)
print(f'best params: {grid_search.best_params_}')
print(f'best score: {grid_search.best_score_}')

Fitting 4 folds for each of 144 candidates, totalling 576 fits

c:\Users\corre\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\ma\core.py:2846: RuntimeWarning: invalid value encountered in cast
  _data = np.array(data, dtype=dtype, copy=copy,

best params: {'colsample_bytree': 0.9, 'learning_rate': 0.05, 'max_depth': 5, 'n_estimators': 100}
best score: 0.7480748192989906